[submodule "dataModel.Building"]
	path = dataModel.Building
	url = https://github.com/smart-data-models/dataModel.Building
[submodule "dataModel.Parking"]
	path = dataModel.Parking
	url = https://github.com/smart-data-models/dataModel.Parking.git
[submodule "dataModel.Streetlighting"]
	path = dataModel.Streetlighting
	url = https://github.com/smart-data-models/dataModel.Streetlighting.git
