[submodule "dataModel.ParksAndGardens"]
	path = dataModel.ParksAndGardens
	url = https://github.com/smart-data-models/dataModel.ParksAndGardens.git
[submodule "dataModel.PointOfInterest"]
	path = dataModel.PointOfInterest
	url = https://github.com/smart-data-models/dataModel.PointOfInterest.git
[submodule "dataModel.Ports"]
	path = dataModel.Ports
	url = https://github.com/smart-data-models/dataModel.Ports.git
[submodule "dataModel.Streetlighting"]
	path = dataModel.Streetlighting
	url = https://github.com/smart-data-models/dataModel.Streetlighting.git
[submodule "dataModel.Transportation"]
	path = dataModel.Transportation
	url = https://github.com/smart-data-models/dataModel.Transportation.git
[submodule "dataModel.UrbanMobility"]
	path = dataModel.UrbanMobility
	url = https://github.com/smart-data-models/dataModel.UrbanMobility.git
[submodule "dataModel.WasteManagement"]
	path = dataModel.WasteManagement
	url = https://github.com/smart-data-models/dataModel.WasteManagement.git
[submodule "dataModel.Weather"]
	path = dataModel.Weather
	url = https://github.com/smart-data-models/dataModel.Weather.git
[submodule "dataModel.Building"]
	path = dataModel.Building
	url = https://github.com/smart-data-models/dataModel.Building.git
[submodule "dataModel.OSLO"]
	path = dataModel.OSLO
	url = https://github.com/smart-data-models/dataModel.OSLO.git
[submodule "dataModel.Parking"]
	path = dataModel.Parking
	url = https://github.com/smart-data-models/dataModel.Parking.git
